<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TIY-Twitterz</title>

    <link rel="stylesheet" href="css/main.css" media="screen" charset="utf-8">
  </head>
  <body>


    <div class="app">
        <nav>
          <a class="twitterz" href="#/">Twitterz</a>
          <a href="#/users/register">Register</a>
          <a href="#/users/login">Login</a>
          <a href="#/feed">Feed</a>

          <img src="http://theironyard.com/images/iron-yard-logo.svg" alt="Logo"/>

        </nav>
        <main></main>
    </div>

    <script type="text/template" id="registerView">
      <section class =signUp>
      <h1>Join TIY-Twitter Today</h1>
      <h2>Please Register</h2>
      </section>

      <div class="register">
      <input type="email" placeholder="Enter E-mail" value="" class="emailInput">
      <input type="password" placeholder="Password" value="" class="passwordInput">
      <input type="password" placeholder="Confirm Password" value="" class="passwordConfirmInput">
      <button type="button">Sign-up</button>
      </div>
    </script>


    <script type="text/template" id="loginView">
      <section class="login">
      <h2>Please Login</h2>
        <input type="email" placeholder="Enter E-mail" value="" class="emailInput">
        <input type="password" placeholder="Password" value="" class="passwordInput">
        <input type="password" placeholder="Confirm Password" value="" class="passwordConfirmInput">
        <button type="button">Sign-up</button>
      </div>
    </script>

    <script type="text/template"id="feedView">
      <div class="feed">
      <a href="#/feed/new">New Tweet</a>
      <a href="#/users/listUsers">Users</a>
      </div>
        <a href="#/feed/new">New Tweet</a>
        <a href="#/users/listUsers">Users</a>
      </div>
      <h1>news feed</h1>

      <% if(email) { %>
        Hello, <%- email %>!
      <% } %>
    </script>

    <script type="text/template"id="usersView">
      <div class="users">
        <a href="#/feed/new">New Tweet</a>
        <a href="#/feed">Feed</a>
      </div>
    </script>

    <script type="text/template" id="newTweet">
        <a href="#/feed">Feed</a>
        <button type="button">New Tweet</button>
    </script>

    <!-- Third Party Libraries -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/backbone/backbone-min.js"></script>
    <!-- App Specific Files-->

    <script src="js/bundle.js"></script>
  </body>
</html>
