* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

body{
  background-image: url(http://cdn.fabulousblogging.com/wp-content/uploads/2012/10/fabric_plaid2.jpg);
  background-color: #F5F8FA;
}

.app {

  #home {
    text-align: center;
    font-size: 35px;
    margin-top: 1em;
  }

  nav {
    width: 100%;
    height:5em;
    background: #53B3DC;
    opacity: .8;
    box-shadow: 0 0 4px 0;
    img {
      width: 4em;
      position: relative;
      left: 34em;
      top: 0.5em;
  }


a {
  float: right;
  margin-right: 15px;
  font-size: 18px;
  color: white;
  text-decoration: none;
  position: relative;
  top:1.0em;
  font-weight: 300;
  border: 1px solid white;
  border-radius: 3px;
  padding: 10px;
  &:hover {
    background-color: white;
    opacity: 0.5;
    color: #CA171B;
    border: 1.5px solid #CA171B;
  }
  i {
    position: relative;
    float: left;
    padding-right: 5px;
    padding-top: 2px;
  }
}
  .twitterz {
    float: left;
    margin-left: .5em;
    font-size: 20px;
    top: .8em;
    i {
      position: relative;
      float: left;
      padding-right: 5px;
    }
  }
}

.signUp {
  h1 {
    text-align: center;
    color: #292F33;
    font-size: 36px;
    font-weight: 300;
    margin-top: 1em;
   }
    h2 {
      text-align: center;
      padding-top: 35px;
      margin-top: 0px;
      color: #292F33;
      font-size: 30px;
      font-weight: 300;
      padding-bottom: 25px;
   }
}

.register {
  width: 10em;
  margin-left: 33em;
  margin-top: 1em;
  input {
    width: 20em;
    padding: 10px;
    line-height: 30px;
    font-size: 18px;
    color: black;
    margin-bottom: 26px;
    outline: 0;
    background-color: #fff;
    border: 1px solid #F5F8FA;
    border-radius: 3px;
  }
  button {
    width: 21.2em;
    padding: .5em;
    background-color: #55acee;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border-color: #F5F8FA;
    font-weight: normal;
    cursor: pointer;
    &:hover {
      background-color: white;
      opacity: 0.5;
      color: #CA171B;
      border: 1.5px solid #CA171B;
    }
  }
}

.login {
  display: block;
  width: 10em;
  margin-left: 33em;
  margin-top: 1em;
  h2 {
    text-align: center;
    width:10em;
    color: #292F33;
    font-size: 36px;
    font-weight: 300;
    padding-bottom: 1em;
  }
  input {
    width: 20em;
    padding: 10px;
    line-height: 30px;
    font-size: 18px;
    color: black;
    margin-bottom: 26px;
    border: 1px solid #F5F8FA;
    border-radius: 3px;
  }
  button {
    width: 21.2em;
    padding: .5em;
    background-color: #55acee;
    color: white;
    border-color: #F5F8FA;
    font-size: 18px;
    border-radius: 5px;
    font-weight: normal;
    cursor: pointer;
    &:hover {
      background-color: white;
      opacity: 0.5;
      color: #CA171B;
      border: 1.5px solid #CA171B;
    }
  }
}

  .feed {
    display: inline-block;
    h2 {
      left: 28em;
      top: 2em;
      position: relative;
    }
    a {
      float: left;
      font-size: 20px;
      text-decoration: none;
      margin-left: 1em;
      padding: 10px 15px;
      background-color: #CA171B;
      border: 1.5px solid white;
      border-radius: 5px;
      color: white;
      position: relative;
      bottom: 1em;
      &:hover {
        background-color: white;
        opacity: 0.8;
        border: 1.5px solid #53B3DC;
        color: #53B3DC;
      }
    }
        .users {
          float: right;
          position: relative;
          float: right;
          position: relative;
          left: 39em;
      }
          .tweet_box {
            position: relative;
            top: 5em;
            left: 25em;
            border: 1px solid #D0D0D0;
            border-radius: .5em;
            padding-left: 7.8em;
            padding-right: 7.8em;
            margin-top: 0.5em;
            padding-bottom: 3em;
            padding-top: 3em;
            &:hover {
              background-color: #f5f8fa;
        }
      }

   #tweet{
     border-radius: 3px;
     font-size: 28px;
     color: #202F37;
     left:17em;
     top:2em;
     font-family: sans-serif;
      i {
        padding-right: .5em;
        color: #53B3DC;
        font-size: 30px;
        position: relative;
        top: 0.1em;
    }
  }
}
  .users {
    a {
      float:left;
      font-size: 20px;
      text-decoration: none;
      margin-left: 1em;
      padding: 10px 15px;
      background-color: #CA171B;
      border: 1.5px solid white;
      border-radius: 5px;
      color: white;
      position: relative;
      top:.5em;
      &:hover {
        background-color: white;
        opacity: 0.8;
        border: 1.5px solid #53B3DC;
        color: #53B3DC;
      }
    }
      a:last-child {
        float: right;
        margin-right: 1em;
      }
    }
    .users-list {
      float: left;
      position: relative;
      left: 17em;
      top: 5em;
      width: 37%;
      background-color: #DBDBE2;
      text-align: center;
      border-radius: 5px;
      div {
        margin: 1.5em 0;
        color: black;
        font-size: 20px;
        border-bottom: 1px solid white;
        padding-bottom: 1.5em;
      i{
        color: #53B3DC;
        }
      }
    }
    .tweet {
      a {
        float:right;
        font-size: 20px;
        text-decoration: none;
        margin-right: 1em;
        padding: 10px 15px;
        background-color: #CA171B;
        border: 1.5px solid white;
        border-radius: 5px;
        color: white;
        position: relative;
        top:.5em;
        &:hover {
          background-color: white;
          opacity: 0.8;
          border: 1.5px solid #53B3DC;
          color: #53B3DC;
        }
      }
      textarea {
        width: 35em;
        height: 8em;
        font-size: 20px;
        border-radius: 5px;
        border-color: #F5F8FA;
        position: relative;
        top: 1em;
        left: 19em;
      }
      button {
        position: relative;
        top: 3em;
        left: 10.9em;
        font-size: 25px;
        padding: 5px 15px;
        background-color: #55acee;
        border-color: #F5F8FA;
        color: white;
        border-radius: 5px;
        font-weight: normal;
        cursor: pointer;
        &:hover {
          background-color: white;
          opacity: 0.5;
          color: #CA171B;
          border: 1.5px solid #CA171B;
        }
      }
    }
}
