* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

body{
background-color: #D9D9D9;
.app {

  #home {
    text-align: center;
    font-size: 35px;
  }

.feed{
margin-bottom: 25px;
  #tweet{
    margin-bottom: 2px;
    padding: 15px 10px 15px 10px;
    border-radius: 3px;
    width: 35%;
    font-size: 15px;
    color: #202F37;
    background-color: white;
  }
}

  nav {
    width: 100%;
    height:5.5em;
    background: #53B3DC;
    box-shadow: 0 0 4px 0;
    img {
      width: 4em;
      position: relative;
      left: 35em;
      top: 0.5em;
  }


a {
  float: right;
  margin-right: 15px;
  font-size: 18px;
  color: white;
  text-decoration: none;
  position: relative;
  top:1.0em;
  font-weight: 300;
  border: 1px solid white;
  border-radius: 3px;
  padding: 10px;
  &:hover {
    background-color: white;
    opacity: 0.5;
    color: red;
  }
  i {
    position: relative;
    float: left;
    padding-right: 5px;
    padding-top: 2px;
  }
}
  .twitterz {
    float: left;
    margin-left: .5em;
    font-size: 20px;
    top: .8em;
    i {
      position: relative;
      float: left;
      padding-right: 5px;
    }
  }
}

.signUp {
  h1 {
    text-align: center;
    color: #292F33;
    font-size: 36px;
    font-weight: 300;
   }
    h2 {
      text-align: center;
      padding-top: 35px;
      margin-top: 0px;
      color: #292F33;
      font-size: 30px;
      font-weight: 300;
      padding-bottom: 25px;
   }
}

.register {
  width: 10em;
  margin-left: 33em;
  input {
    width: 20em;
    padding: 10px;
    line-height: 30px;
    font-size: 18px;
    color: black;
    margin-bottom: 26px;
    outline: 0;
    background-color: #fff;
    border: 1px solid #e1e8ed;
    border-radius: 3px;
  }
  button {
    width: 21.2em;
    padding: .5em;
    background-color: #55acee;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    font-weight: normal;
    cursor: pointer;
  }
}

.login {
  display: block;
  width: 10em;
  margin-left: 33em;
  h2 {
    text-align: center;
    width:10em;
    color: #292F33;
    font-size: 36px;
    font-weight: 300;
    padding-bottom: 1em;
  }
  input {
    width: 20em;
    padding: 10px;
    line-height: 30px;
    font-size: 18px;
    color: black;
    margin-bottom: 26px;
    border: 1px solid #e1e8ed;
    border-radius: 3px;
  }
  button {
    width: 21.2em;
    padding: .5em;
    background-color: #55acee;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    font-weight: normal;
    cursor: pointer;
  }
}

  .feed {
    a {
      float:left;
      font-size: 25px;
      text-decoration: none;
      margin-left: 1em;
      padding:5px;
      background-color: #FF6666;
      border-radius: 5px;
      color: white;
      position: relative;
      bottom:2em;
      &:hover {
        text-decoration: underline;
      }

  }
   a:last-child {
     float: right;
     margin-right: 1em;
   }
}

  .users {
    a {
      float:left;
      font-size: 25px;
      text-decoration: none;
      margin-left: 1em;
      padding:5px;
      background-color: #FF6666;
      border-radius: 5px;
      color: white;
      position: relative;
      bottom: 2em;
    }
      a:last-child {
        float: right;
        margin-right: 1em;
      }
    }
    .users-list {
      float: left;
      position: relative;
      left: 13em;
      width: 50%;
      div {
      margin-bottom: .5em;
      box-shadow: 0 0 5px #202F37;
      border-radius: 10px;
      padding: 50px 75px 50px 50px;
      background-color: #202F37;
      color: white;
      font-size: 20px;
    }
  }
  }
}
