* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.app {

  #home {
    text-align: center;
    font-size: 35px;
  }
  nav {
    float: left;
    border-bottom: 1px solid #4995C2;
    width: 100%;
    background-color: #53B3DC;
    margin-bottom: 60px;
    img {
      margin-left: 36em;
      margin-top: 12px;
  }


a {
  float: right;
  margin-right: 15px;
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding-top: 85px;
  font-weight: 300;
}
  .twitterz {
    float: left;
    margin-left: .5em;
    font-size: 20px;
  }
}

.signUp {

  h1 {
    text-align: center;
    color: #292F33;
    font-size: 36px;
    font-weight: 300;
   }

    h2 {
      text-align: center;
      padding-top: 35px;
      margin-top: 0px;
      color: #292F33;
      font-size: 30px;
      font-weight: 300;
      padding-bottom: 25px;
   }
}

.register {
  width: 10em;
  margin-left: 33em;
    input {
        width: 20em;
        padding: 10px;
        line-height: 30px;
        font-size: 18px;
        color: black;
        margin-bottom: 26px;
        outline: 0;
        background-color: #fff;
        border: 1px solid #e1e8ed;
        border-radius: 3px;
    }
    button {
        width: 21.2em;
        padding: .5em;
        background-color: #55acee;
        color: white;
        font-size: 18px;
        border-radius: 5px;
        outline-color: white;
        border-color: white;
        font-weight: normal;
        cursor: pointer;
  }
}

.login {
  display: block;
  width: 10em;
  margin-left: 33em;
  h2 {
    text-align: center;
    width:10em;
    color: #292F33;
    font-size: 36px;
    font-weight: 300;
    padding-bottom: 1em;
  }
  input {
    width: 20em;
    padding: 10px;
    line-height: 30px;
    font-size: 18px;
    color: black;
    margin-bottom: 26px;
    border: 1px solid #e1e8ed;
    border-radius: 3px;
  }
  button {
    width: 21.2em;
    padding: .5em;
    background-color: #55acee;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    outline-color: white;
    border-color: white;
    font-weight: normal;
    cursor: pointer;
  }
}

  .feed {
    a {
      float:left;
      font-size: 25px;
      text-decoration: none;
      margin-left: 1em;
      padding:5px;
      background-color: #FF6666;
      border-radius: 5px;
      color: white;
      position: relative;
      bottom: 2em;

  }
   a:last-child {
     float: right;
     margin-right: 1em;
   }
}

  .users {
    a {
      float:left;
      font-size: 25px;
      text-decoration: none;
      margin-left: 1em;
      padding:5px;
      background-color: #FF6666;
      border-radius: 5px;
      color: white;
      position: relative;
      bottom: 2em;
      }
      a:last-child {
        float: right;
        margin-right: 1em;
      }
    }
  }
